{{ define "title"}}
    Home
{{end}}

{{define "main"}}
    <h1 class="text-3xl font-bold mb-2">Home</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tincidunt, nulla id rhoncus faucibus, neque mi laoreet
        velit, eu vulputate massa velit ac justo. Sed vel hendrerit purus. Nam ultrices sit amet justo non dignissim.
        Suspendisse ac quam maximus, luctus massa at, sagittis tellus. Phasellus placerat sagittis odio, accumsan consequat
        odio porta id. Sed ultricies sapien tortor, id gravida nibh gravida sed. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Aliquam imperdiet euismod efficitur. Curabitur ligula sapien, ultricies vitae lorem vitae,
        dapibus pharetra lacus.
    </p>

    {{template "comp1"}}
    {{template "comp1"}}
    {{template "comp1"}}

{{end}}